@page
@model RazorProjectWeb.Pages.Categories.DeleteModel

<form method="post">
    <input hidden asp-for="Category.Id" />
    <div class="border p-3 mt-4">
        <div row pb-2>
            <h2 class="text-primary pl-3">DELETE CATEGORY</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Category.Name"></label>
            <input asp-for="@Model.Category.Name" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Category.DisplayOrder"></label>
            <input asp-for="@Model.Category.DisplayOrder" class="form-control" disabled />
        </div>
        <button type="submit" class="btn btn-danger" style="width: 150px">DELETE</button>
        <a asp-page="Index" class="btn btn-secondary" style="width: 150px">BACK TO LIST</a>
    </div>
</form>
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }

}